{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ingeniería de Software</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">        

        
    </head>
    <body id="page-top">
        <div id="upBtn">
            <a href="#top">
                <i class="bi bi-arrow-up-short"></i>
            </a>
          </div>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">José Marín</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#consultas">Consultas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Ingeniería de Software</h1>
                <p class="lead">Actividades de configurar proyecto Django, aplicar Bootstrap al proyecto y hacer consultas a la BD</p>
                <a class="btn btn-lg btn-light" href="#consultas">Iniciar</a>
            </div>
        </header>
    
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 id="consultas">Consultas BD</h2>
                        <p class="lead">Grupo 1</p>
                        <ol>
                            {% for i in estudiantesGrupo1 %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ol>

                        <p class="lead">Grupo 4</p>
                        <ol>
                            {% for i in estudiantesGrupo4 %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ol>

                        <p class="lead">Mismo apellido</p>
                        <ol>
                            {% for i in mismosApellidos %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ol>
                        
                        <p class="lead">Misma edad</p>
                        <ol>
                            {% for i in mismaEdad %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ol>

                        <p class="lead">Grupo 3 y misma edad</p>
                        <ol>
                            {% for i in grupo3_mismaEdad %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ol>

                        <p class="lead">Todos los estudiantes</p>
                        <ol>
                            {% for i in estudiantes %}
                            <li>{{i}}</li>
                            {% endfor %}
                        </ol>

                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Ingeniería de Software 2023-2</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
